:root {

    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: #0c122c;
    --Lightgray: rgb(207, 207, 207);
    --Lightgrayishblue: hsl(210, 46%, 95%);


}